.container {
   display: flex;
   background-color: #F8F9FA;
   border-bottom: 1px solid $header-border;

   h1 {
      color: $title;
      width: 25%;
      min-width: 95px;
   }
}
.menu {
   width: 75%;
}
.logoutButton {
   border: 0;
}

@media (max-width: 1023px) {
   .container h1 {
      font-size: 1.4rem;
   }
}

@media (max-width: 767px) {
   .container h1 {
      font-size: 1.15rem;
      min-width: 130px;
   }
}