.container {
   width: 100%;
   min-height: 90dvh;
   max-width: 1600px;
}

@media (max-width: 1023px) {
   .container {
      flex-direction: column;
      height: 100%;
   }
}

@media (max-width: 767px) {
   .actionsContainer {
      flex-direction: column-reverse;
   }
}
